#qa-form-id {
  margin: 80px 15px;
  text-align: center;

  .select-label-class {
    width: 100%;

    .select-class {
      width: 100%;

    }

    span {
      font-weight: bold;
      margin: 20px
    }
  }

}
